*Lists in python*

In [34]:
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
fruits[2:4:] = "lemons"
print(fruits)

['apple', 'banana', 'l', 'e', 'm', 'o', 'n', 's', 'elderberry']

In [35]:
pos_integers = [num for num in range(1,20+1)]
print(pos_integers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [36]:
print(pos_integers[0])
print(pos_integers[(len(pos_integers))//2 - 1])
print(pos_integers[-1])

1
10
20

In [37]:
print(pos_integers[:5])
print(pos_integers[-5:])
print(pos_integers[5:15])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [38]:
square = [num**2 for num in range(1,10+1)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
even_numbers = [num for num in pos_integers if num%2==0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [40]:
random_numbers = [12,3,24,53,11,9,54,22,42,1,31]
random_numbers.sort()
print(random_numbers)
random_numbers.sort(reverse = True)
print(random_numbers)

[1, 3, 9, 11, 12, 22, 24, 31, 42, 53, 54]
[54, 53, 42, 31, 24, 22, 12, 11, 9, 3, 1]

In [41]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

matrix2 = [[num1*3 + num+1 for num in range(3)] for num1 in range(3)] 
print(matrix2[1][2])

6

In [42]:
[[i,j] for i in range(3) for j in range(3)]

[[0, 0], [0, 1], [0, 2], [1, 0], [1, 1], [1, 2], [2, 0], [2, 1], [2, 2]]

In [43]:
[int(x) for x in "1,2,3,4,5".split(",")]

[1, 2, 3, 4, 5]

In [54]:
from random import randint as rd

list = [rd(1,100) for _ in range(10)]

In [55]:
list.append([101,102])
print(list)

[88, 46, 35, 55, 59, 100, 70, 56, 69, 91, [101, 102]]

In [56]:
list.extend([103,104])
print(list)

[88, 46, 35, 55, 59, 100, 70, 56, 69, 91, [101, 102], 103, 104]

In [57]:
list.extend("hello")
print(list)

[88, 46, 35, 55, 59, 100, 70, 56, 69, 91, [101, 102], 103, 104, 'h', 'e', 'l', 'l', 'o']

#### TUPLES

In [62]:
tup = tuple(x for x in range(1,11))

In [70]:
string = "hello"
char_tuple = tuple(string)
print(char_tuple)
joined_string = ''.join(char_tuple)
print(joined_string)

('h', 'e', 'l', 'l', 'o')
hello

In [71]:
def min_max_sum(tup):
    minimum = min(tup)
    maximum = max(tup)
    total_sum = sum(tup)
    return minimum, maximum, total_sum

print(min_max_sum((3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)))

(1, 9, 44)

In [72]:
tup2 = ((1,2,3),(4,5,6),(7,8,9))
for tup in tup2:
    for i in tup:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9